# Second A12 instance: yard camera
CAMERA_ID=yard
CAMERA_NAME="Yard Camera"
CAMERA_LABEL="Yard"
ESP32_IP=192.0.2.102
ESP32_HTTP_USER=admin
ESP32_HTTP_PASS=admin
ESP32_MQTT_DEVICE=ESP32-Camera-Yard

MQTT_BROKER=192.0.2.10
MQTT_PORT=1883
MQTT_BASE_TOPIC=esp32_camera_yard
MQTT_DISCOVERY_NODE=esp32_camera_yard

YOLO_WEIGHTS=yolo11n.onnx
MOTION_THRESHOLD=0
TELEGRAM_MEDIA_MODE=preview_mp4
A12_APPLY_CAMERA_PROFILES=false
NOTIFICATION_QUEUE_MAXSIZE=10
